<img class="logo" src="./logo.svg" alt="Decoded Frontend" />
<h1 class="page-title">ngContentOutlet Demo</h1>
<ng-template #contentTpl>
  <app-weather-content />
</ng-template>
<main id="content">
  <ng-container
    [ngComponentOutlet]="component"
    [ngComponentOutletInputs]="componentInputs"
    [ngComponentOutletContent]="content"></ng-container>
  <section class="toolbar">
    <button (click)="createComponent()" class="create">Create Component</button>
    <button (click)="destroyComponent()" class="destroy">Destroy Component</button>
  </section>
</main>